body {
  background-color: white;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: 1px solid black;
}

.buttonSection {
  display: block;
  padding: 1px;
  border-bottom: 1px dotted lightgrey;
  &:last-of-type {
    border-bottom: 0;
  }
}

.buttonSection button {
  margin: 5px;
}
