html
    head
        title Undup
    body
        h1 Undup
        p
            button#btnClick Close duplicate tabs
        p
            button#btnSort Sort tabs

        script(src='/target/index.js')