html
    head
        title Chrome Tools
        script(src='index.js')
        link(rel="stylesheet", href="index.css")
    body
        h1 Chrome Tools
        p
            select#slctSort
                option(value='') Do not sort
                option(value='title') Sort by title
                option(value='url') Sort by url
                option(selected,value='url2') Sort by url (advanced)
        p
            input#closeDuplicates(type='checkbox', checked)
            label(for='closeDuplicates') Close duplicate tabs
        div.buttonSection
            button#btnCleanup Cleanup
        div.buttonSection
            button#btnCloseWebsite Close all from website
            button#btnCloseWebsite2 Close all from website except this
