html
    head
        title Undup
        script(src='/target/index.js')
        link(rel="stylesheet", href="/target/index.css")
    body
        h1 Undup
        p
            button#btnClick Close duplicate tabs
        p
            button#btnSortURL Sort by URL
        p
            button#btnSortTitle Sort by Title
        p
            button#btnCleanup Cleanup
