html
    head
        title Chrome Tools
        script(src='index.js')
        link(rel="stylesheet", href="index.css")
    body
        h1 Chrome Tools
        div.buttonSection
            button#btnClick Close duplicate tabs
        div.buttonSection
            button#btnSortURL Sort by URL
            button#btnSortURL2 Sort by URL2
        div.buttonSection
            button#btnSortTitle Sort by Title
        div.buttonSection
            button#btnCloseWebsite Close all from website
            button#btnCloseWebsite2 Close all from website except this
        div.buttonSection
            button#btnCleanup Cleanup
            button#btnCleanup2 Cleanup2
