html
    head
        title Chrome Tools
        script(src='index.js')
        link(rel="stylesheet", href="index.css")
    body
        h1 Chrome Tools
        p
            button#btnClick Close duplicate tabs
        p
            button#btnSortURL Sort by URL
        p
            button#btnSortTitle Sort by Title
        p
            button#btnCloseWebsite Close all from website
        p
            button#btnCleanup Cleanup
